{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block content %}
    <br> <br> <br> <br> <br>
    <h1>Hotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Prix</th>
                <th>Description</th>
                <th>NbEtoile</th>
                <th>NbChambre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.Nom }}</td>
                <td>{{ hotel.adresse }}</td>
                <td>{{ hotel.prix }}</td>
                <td>{{ hotel.Description }}</td>
                <td>{{ hotel.NbEtoile }}</td>
                <td>{{ hotel.NbChambre }}</td>
                <td>
                    <a href="{{ path('hotel_show', {'id': hotel.id}) }}">show</a>
                    <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hotel_new') }}">Create new</a>
{% endblock %}
