{% extends 'homeAdmin.html.twig' %}
{% block titTab %}
    Evenements
{% endblock %}
{% block tab  %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Lieu</th>
            <th>Date</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.description }}</td>
                <td>
                    {#<a href="{{ path('evenement_show', {'id': evenement.id}) }}">show</a>#}
                    <a href="{{ path('eventModifAdmin', {'id': evenement.id}) }} " class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}