{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block content %}
    <h1>Reclamation index</h1>
    <br><br>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Statut</th>
            <th>Description</th>
            <th>Type</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.statut }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.type }}</td>


                <td>
                    {#<a href="{{ path('reclamation_show', {'id': reclamation.id}) }}  ">show</a>#}
                    <a href="{{ path('editRecla', {'id': reclamation.id}) }}" class="btn btn-warning"   >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('newRecla') }}" class="btn btn-success">Create new</a>
{% endblock %}
