{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<br>
<br>
<br>
<br>
<br>
    <div class="form-group">

        <label>Destination:</label>
        {{ form_widget(form.destination,{'attr':{'class':'form-control'}}) }}
        <div class="alert alert-danger">
            {{ form_errors(form.destination) }}
        </div>
        <br>
        <label>Description de l'experience :</label>
        {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
        <div class="alert alert-danger">
            {{ form_errors(form.description) }}
        </div>


        <label>image</label>
        {{ form_widget(form.image,{'attr':{'class':'form-control'}})  }}

    </div>
    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
