{% extends 'base.html.twig' %}

{% block title %}PartageExperience index{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    <h1>Liste des partages de experiences :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Destination</th>
                <th>Date_pub</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partage_experience in partage_experiences %}
            <tr>
                <td>{{ partage_experience.id }}</td>
                <td>{{ partage_experience.description }}</td>
                <td>{{ partage_experience.destination }}</td>
                <td>{{ partage_experience.datePub ? partage_experience.datePub|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-link" href="{{ path('partage_experience_show', {'id': partage_experience.id}) }}" >Consulter</a>
                    <a class="btn btn-link" href="{{ path('partage_experience_edit', {'id': partage_experience.id}) }}" >Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('partage_experience_new') }}" >Ajouter une autre experience</a>
    </div>
{% endblock %}
