{% extends 'base.html.twig' %}

{% block title %}Maison index{% endblock %}

{% block body %}
    <h1>Maison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Disponibilite</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for maison in maisons %}
            <tr>
                <td>{{ maison.id }}</td>
                <td>{{ maison.type }}</td>
                <td>{{ maison.Disponibilite ? 'Yes' : 'No' }}</td>
                <td>{{ maison.Nom }}</td>
                <td>{{ maison.adresse }}</td>
                <td>{{ maison.description }}</td>
                <td>{{ maison.prix }}</td>
                <td>{{ maison.image }}</td>
                <td>
                    <a href="{{ path('maison_show', {'id': maison.id}) }}">show</a>
                    <a href="{{ path('maison_edit', {'id': maison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('maison_new') }}">Create new</a>
{% endblock %}
