{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="form-group">
    <label>Votre commentaire:</label>
    {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
    <div class="alert alert-danger">
        {{ form_errors(form.description) }}
    </div>
    <br>
    <label>id Post :</label>
    {{ form_widget(form.partageexperience,{'attr':{'class':'form-control'}}) }}
    <div class="alert alert-danger">
        {{ form_errors(form.partageexperience) }}
    </div>
</div>

    <button class="btn btn-dark">{{ button_label|default('Enregistrer votre commenaire') }}</button>
{{ form_end(form) }}
<div>
