<h1>Nouvelle Réclamation ajouté </h1>
<p>Bonjour chèr(e) Admin,</p>
<p>Une nouvelle réclamation a été ajouté.</p>
<p>Ci-dessous les informations liés a cette nouvelle réclamation,</p>
<p>Nom : {{ reclamation.statut }}</p>
<p>Lieu : {{ reclamation.type }}</p>
{#<p>Date : {{ reclamation.date | date("d/m/Y")  }}</p>#}
{#<p>Téléphone : {{ evenement.tel }}</p>#}
<p> Email : {{ reclamation.email | raw }}</p>
<p>Description : {{ reclamation.description }}</p>
<br><br>
<p>Cordialement.</p>